#experiencePanel{
  width: 90%;
  height: 20%;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
}

#experienceHeader{
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 2px solid grey;
  margin-right: 2%;
}

#experienceContent{
  height: 100%;
  width: 60%;
}

.experienceHeading{
  margin: 0;
  font-size: 0.8vw;
}

#experiencePosition{
  width: 95%;
  text-align: right;
}

#experienceDate{
  width: 95%;
  text-align: right;
}
