#experiencePanel{
  width: 90%;
  height: 20%;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
}

#experienceHeader{
  width: 35%;
  border-right: 2px solid grey;
  margin-right: 2%;
}

#experienceContent{
  height: 100%;
  width: 60%;
}

.experienceHeading{
  width: 95%;
  margin: 0;
  font-size: 0.8vw;
  text-align: right;
}

.experienceBody{
  margin: 0;
  font-size: 0.8vw;
}

#experienceCompany{
  color: #2196f3;
}
