#contentPanel {
  width: 60%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.25); /*box-shadow: none|h-offset v-offset blur spread color*/
}

.mainBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.LeftPanel {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RightPanel {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /*This defines the alignment along the main axis.*/
  align-items: center; /*This defines the default behavior for how flex items are laid out along the cross axis on the current line.  perpendicular to the main-axis*/
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;/*  The replaced content is sized to maintain its aspect ratio while filling the element’s entire content box. */
  object-position: 50% 0%; /* X , Y*/
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#title {
  font-size: 2vw;
  color: #2196f3;
  width: 80%;
  margin: 0;
}

#subTitle {
  font-size: 1.5vw;
  margin: 0;
  margin-top: 1vh;
  padding-bottom: 1vh; /* padding is inside space*/
  width: 80%;
  color: grey;
  border-bottom: 4px solid #2196f3;
}

.body {
  margin: 0;
  width: 80%;
  font-size: 1vw;
  color: grey;
}

.bodyHeading {
  margin: 0;
  margin-top: 2vh;
  margin-bottom: 1vh;
  width: 80%;
  color: #2196f3;
  font-size: 1vw;
}
